:root {
  --primaryColor:#679436;
  --primaryColor-similar:#BAD29F;
  --secondaryColor:#FFDF64;
  --tertiaryColor:#254232;
  --buttonColor:#E2D686;
  --textColor:black;
  --lightColor:white;
  --greyColor: #E0E2DB;
  --greyDarkColor: #889696;
  --backgroundColor:white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primaryColor:#679436;
    --primaryColor-similar:#BAD29F;
    --secondaryColor:#e0c455;
    --tertiaryColor:#254232;
    --buttonColor:#E2D686;
    --textColor:rgb(91, 144, 125);
    --lightColor:white;
    --greyColor: #E0E2DB;
    --greyDarkColor: #889696;
    --backgroundColor:white;
    --darkBrightness:0.8;
  }
}
html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  position: relative;
  font-size: 1rem;
  font-weight: 400;
}

p {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  color: var(--textColor);
}

p + p {
  padding-top: 0.5rem;
}

h1, h2, h3, h4 {
  margin: 0;
  text-align: center;
  color: var(--textColor);
}

h1 {
  font-weight: 600;
  font-size: 3rem;
  padding-top: 2rem;
}

h2 {
  font-weight: 600;
  font-size: 2rem;
  padding-top: 2rem;
}

h3 {
  font-weight: 500;
  font-size: 1.5rem;
  padding-top: 0.5rem;
}

*::-moz-selection {
  background-color: yellow;
  color: rgb(20, 10, 2);
}

*::selection {
  background-color: yellow;
  color: rgb(20, 10, 2);
}

a:focus-visible {
  outline: 6px dotted #B309A6;
}

.link:link {
  color: var(--buttonColor);
  font-weight: 600;
}

.link:visited {
  color: var(--textColor);
}

.link:hover {
  color: var(--secondaryColor);
}

[src$=".png"], [src$=".jpg"], [src$=".jpeg"], [src$=".svg"], svg,
.fotogalerie__link {
  filter: brightness(var(--darkBrightness));
}

li {
  text-align: left;
  color: var(--textColor);
}

.openNewTab:after {
  content: "";
  display: inline-block;
  background-image: url(/images/newtab.svg);
  background-position: cover;
  background-repeat: no-repeat;
  width: 0.9em;
  height: 0.9em;
  margin-left: 0.5em;
}

.pdf-icon:before {
  content: "";
  display: inline-block;
  background-image: url(/images/pdf-icon.svg);
  background-position: cover;
  background-repeat: no-repeat;
  width: 0.9em;
  height: 0.9em;
  margin-right: 0.5em;
}

.word-icon:before {
  content: "";
  display: inline-block;
  background-image: url(/images/word-icon.svg);
  background-position: cover;
  background-repeat: no-repeat;
  width: 0.9em;
  height: 0.9em;
  margin-right: 0.5em;
}

.button {
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 10px;
  background-color: var(--buttonColor);
  border: 4px solid var(--buttonColor);
  color: black;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}
.button:hover {
  background-color: var(--lightColor);
  border: 4px solid var(--buttonColor);
  color: var(--textColor);
  transition: all 0.3s;
}
.button:active {
  background-color: var(--buttonColor);
  color: var(--textColor);
}
.button--active {
  background-color: var(--tertiaryColor);
  border: 4px solid var(--tertiaryColor);
  color: var(--lightColor);
}
.button--active a {
  color: var(--lightColor);
}
.button--active:hover {
  color: var(--textColor);
}
.button--active:hover a {
  color: var(--textColor);
}
.button a {
  text-decoration: none;
}
.button__filtrovani {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1.5rem auto 0 auto;
}
@media screen and (min-width: 42rem) {
  .button__filtrovani {
    display: none;
  }
}

button:focus-visible {
  outline: 6px dotted var(--focusColor);
}

.button + .button {
  margin-left: 1.5rem;
}

.banner {
  height: 100%;
  width: 100%;
  border-top: 1px dotted black;
  position: relative;
}
.banner img {
  width: 100%;
}
.banner__headline {
  font-size: 1.1rem;
  text-align: center;
  text-transform: uppercase;
  padding: 0 0.5rem 2rem 55vw;
  color: var(--tertiaryColor);
  text-shadow: -5px 3px 6px var(--tertiaryColor);
  margin: auto;
  position: absolute;
  right: 0;
  top: 10%;
}
@media screen and (min-width: 430px) {
  .banner__headline {
    top: 25%;
  }
}
@media screen and (min-width: 550px) {
  .banner__headline {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 42rem) {
  .banner__headline {
    font-size: 2rem;
  }
}
@media screen and (min-width: 63rem) {
  .banner__headline {
    font-size: 3rem;
  }
}
.banner__headline--akce {
  text-shadow: -5px 3px 6px var(--tertiaryColor), -1px 1px 1px var(--lightColor);
  font-size: 1.3rem;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
  padding: 0.5rem 20%;
  position: absolute;
  text-transform: uppercase;
  color: var(--tertiaryColor);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
@media screen and (min-width: 550px) {
  .banner__headline--akce {
    font-size: 2rem;
  }
}
@media screen and (min-width: 42rem) {
  .banner__headline--akce {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 63rem) {
  .banner__headline--akce {
    font-size: 3.9rem;
  }
}
.banner__nazev {
  font-size: 1.7rem;
  text-shadow: -5px 3px 6px var(--tertiaryColor), -1px 1px 1px var(--lightColor);
}
@media screen and (min-width: 550px) {
  .banner__nazev {
    font-size: 2.2rem;
  }
}
@media screen and (min-width: 42rem) {
  .banner__nazev {
    font-size: 3rem;
  }
}
@media screen and (min-width: 63rem) {
  .banner__nazev {
    font-size: 5rem;
  }
}
.banner__nazev--jiny {
  font-size: 3rem;
  position: absolute;
  top: 2rem;
  right: 10%;
}
@media screen and (min-width: 430px) {
  .banner__nazev--jiny {
    font-size: 4rem;
  }
}
@media screen and (min-width: 550px) {
  .banner__nazev--jiny {
    font-size: 5rem;
  }
}
@media screen and (min-width: 42rem) {
  .banner__nazev--jiny {
    font-size: 6rem;
  }
}
@media screen and (min-width: 63rem) {
  .banner__nazev--jiny {
    font-size: 7rem;
  }
}

input[type=checkbox] {
  opacity: 0;
  z-index: -1;
  position: absolute;
  left: -100px;
}

@media screen and (min-width: 42rem) {
  .filterContent {
    max-width: 70rem;
    display: grid;
    margin: 0 auto;
    grid-template-columns: 360px 3fr;
  }
}

.filters {
  padding: 0 1rem;
}
.filters__group {
  margin-top: 1rem;
}
.filters__category-name {
  text-align: justify;
}
.filters__checkboxItem + .filters__checkboxItem {
  padding-top: 0.5rem;
}
.filters__hide {
  height: 0px;
  width: 0px;
  visibility: hidden;
}
.filters__checkboxItem {
  margin-left: 1rem;
  padding-right: 1.5rem;
  color: var(--greyDarkColor);
  font-style: italic;
  font-size: 1.5rem;
}
.filters__checkboxItem:hover {
  border: 2px solid var(--secondaryColor);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.filters__checkboxItem:before {
  content: "";
  display: inline-block;
  background-image: none;
  background-position: cover;
  background-repeat: no-repeat;
  width: 0.9em;
  height: 0.9em;
  margin-right: 0.5em;
  margin-left: 0.5em;
}
.filters__checkboxItem--active:before {
  background-image: url(/images/general/GreenTick.svg);
}
.filters__checkboxItem--active {
  color: var(--textColor);
  font-weight: 600;
}

.menu {
  min-height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 2rem;
  align-items: center;
  padding: 0 2rem 0 0.5rem;
  margin: 0 auto;
  position: relative;
}
.menu__background {
  background-color: var(--tertiaryColor);
  width: 100vw;
}
.menu__logo {
  font-size: 2rem;
}
.menu__logo img {
  width: 100px;
  border-radius: 15px;
  padding-top: 10px;
}
.menu__icon {
  align-self: center;
}
.menu__icon svg {
  width: 100%;
  height: 24px;
}
.menu__list {
  display: block;
  list-style: none;
  z-index: 3;
  font-size: 1.2rem;
  background-color: var(--primaryColor-similar);
  padding: 0;
  position: absolute;
  left: -100%;
  top: 100px;
  gap: 0;
  width: 100%;
  text-align: center;
  transition: 0.3s;
  color: var(--textColor);
}
.menu__list.menu__active {
  left: 0;
  margin-top: 0;
}
.menu__link {
  display: block;
  text-decoration: none;
  color: black !important;
  padding: 1rem;
  font-weight: 500;
  padding: 1.5rem 1.5rem;
}
.menu__link:hover {
  background-color: var(--secondaryColor);
  color: var(--lightColor);
}
.menu__item {
  text-align: center;
  border-bottom: 1px solid var(--lightColor);
  color: var(--textColor);
}
.menu__item--active .menu__link {
  background-color: var(--buttonColor);
  color: var(--lightColor);
}
.menu__hamburger.menu__active .menu__bar:nth-child(2) {
  opacity: 0;
}
.menu__hamburger.menu__active .menu__bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.menu__hamburger.menu__active .menu__bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
.menu__hamburger {
  display: block;
  cursor: pointer;
  background-color: var(--tertiaryColor);
  border: 1px solid var(--lightColor);
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.menu__bar {
  display: block;
  width: 30px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: var(--lightColor);
}
@media screen and (min-width: 63rem) {
  .menu {
    max-width: 70rem;
  }
  .menu__list {
    display: flex;
    max-width: -moz-max-content;
    max-width: max-content;
    width: auto;
    left: auto;
    top: auto;
    position: relative;
    background-color: var(--primaryColor);
  }
  .menu__hamburger {
    display: none;
  }
  .menu__item {
    display: block;
    z-index: 100;
    border-bottom: 0;
  }
  .menu__item:last-child {
    border: 0;
  }
}

.uvod {
  padding: 0 0.5rem;
  margin: 0 auto;
  margin-bottom: 2rem;
}
@media screen and (min-width: 63rem) {
  .uvod {
    max-width: 70rem;
  }
}
.uvod__card {
  margin-top: 2rem;
}
@media screen and (min-width: 42rem) {
  .uvod__card {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "kategorie-nazev kategorie-nazev" "kategorie-text kategorie-vice";
  }
  .uvod__card + .uvod__card {
    margin-top: 2rem;
  }
  .uvod__card--nobutton {
    grid-template-areas: "kategorie-nazev kategorie-nazev" "kategorie-text kategorie-text";
  }
}
@media screen and (min-width: 63rem) {
  .uvod__card {
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "kategorie-nazev kategorie-text kategorie-vice";
  }
  .uvod__card--nobutton {
    grid-template-areas: "kategorie-nazev kategorie-text kategorie-text";
  }
}
.uvod__kategorie-nazev {
  padding: 1rem;
  background-color: var(--tertiaryColor);
  color: var(--lightColor);
  grid-area: kategorie-nazev;
}
.uvod__kategorie-text {
  padding: 1rem 0 1rem 0;
  grid-area: kategorie-text;
}
@media screen and (min-width: 42rem) {
  .uvod__kategorie-text {
    padding: 1.5rem 0.5rem 0.5rem 0;
    align-self: center;
  }
}
@media screen and (min-width: 63rem) {
  .uvod__kategorie-text {
    padding: 0 1.5rem;
  }
}
.uvod__kategorie-vice {
  grid-area: kategorie-vice;
  padding: 0.5rem;
  align-self: center;
  margin: 0;
}
.uvod__vice {
  border: 2px solid var(--primaryColor);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 1rem;
  display: block;
  width: 100%;
  height: 100%;
  transition: all 100ms ease-in-out 1300ms;
  margin-top: 0.5rem;
  color: var(--textColor);
}
.uvod__vice--hide {
  display: none;
}

.akce {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  justify-items: stretch;
  align-items: flex-start;
  gap: 1.5rem;
  margin: 2rem auto 0 auto;
  padding: 0 0.5rem;
}
.akce__link {
  height: 100%;
  width: 100%;
  text-decoration: none;
}
.akce__item {
  width: calc(100vw - 2rem);
  position: relative;
  box-shadow: 0px 0px 10px var(--primaryColor-similar);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all 0.5s linear;
}
.akce__item:hover {
  transform: scale(1.05);
}
.akce__image {
  width: 100%;
  overflow: hidden;
}
.akce__image-holder {
  max-width: 200px;
  max-height: 200px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0.5rem 0;
}
.akce__title {
  padding: 0.5rem;
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--primaryColor);
  text-align: left;
  margin-bottom: auto;
  width: 100%;
  border-bottom: 1px solid var(--primaryColor);
}
.akce__datum {
  background-color: var(--secondaryColor);
  opacity: 0.7;
  height: -moz-max-content;
  height: max-content;
  padding: 0.5rem;
  color: black;
  font-weight: 600;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all 0.5s linear;
}
.akce__registrace {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: var(--primaryColor-similar);
  color: black;
  font-weight: 600;
}
.akce__stitky {
  margin-top: auto;
}
.akce__pagination {
  display: flex;
  flex-direction: row;
  row-gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 30rem) {
  .akce__item {
    width: calc(50vw - 2rem);
  }
}
@media screen and (min-width: 48rem) {
  .akce {
    max-width: 70rem;
  }
  .akce__item {
    flex-basis: calc(50% - 2rem);
  }
}
.akce__button {
  padding: 0;
  border: none;
  margin: 0;
  border-radius: 10px;
}
.akce__button + .akce__button {
  margin-left: 0.5rem;
}

.singleAkce {
  margin: 0 auto;
}
.singleAkce__image {
  max-width: 100%;
  padding: 0 2rem;
  margin: 1rem auto 0 auto;
}
.singleAkce__popisek {
  background-color: var(--greyColor);
  font-weight: 600;
  padding: 0.5rem;
  color: black;
}
.singleAkce__popisek-text {
  padding: 0.5rem;
  padding-bottom: 1rem;
}
.singleAkce__nadpis {
  padding: 1rem;
  background-color: var(--tertiaryColor);
  color: var(--lightColor);
  margin: 1rem 0;
}
.singleAkce__textovaCast {
  padding: 0 1rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
@media screen and (min-width: 50rem) {
  .singleAkce {
    max-width: 70rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .singleAkce__image {
    max-width: 400px;
  }
  .singleAkce__textovaCast {
    padding: 0 2rem 1rem 2rem;
    margin: 0;
  }
}
.singleAkce__fotogalerie {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding: 0 0.5rem;
  margin: 0 auto;
  margin-top: 1.5rem;
}
@media screen and (min-width: 63rem) {
  .singleAkce__fotogalerie {
    max-width: 70rem;
  }
}
.singleAkce__fotogalerie .singleAkce__image {
  margin: auto;
  padding: auto;
  max-width: 100%;
}

.kontakt {
  padding: 0 0.5rem;
  margin: 0 auto;
}
@media screen and (min-width: 63rem) {
  .kontakt {
    max-width: 70rem;
  }
}
.kontakt__card {
  margin-top: 2rem;
  font-size: 1.5rem;
}
.kontakt__nadpis {
  padding-bottom: 1rem;
}

.footer__copyright {
  display: block;
  text-decoration: none;
  padding: 1rem;
  background-color: var(--greyDarkColor);
  text-align: center;
  font-size: 0.9rem;
  font-weight: 300;
  color: var(--lightColor);
}
.footer__copyright:hover {
  color: var(--buttonColor);
}

.zmenaProgramu {
  padding: 0 0.5rem;
  margin: 0 auto;
  text-align: center;
  font-size: 0.8rem;
  background-color: var(--greyColor);
  font-weight: 600;
  color: var(--textColor);
  padding: 1rem;
}
@media screen and (min-width: 63rem) {
  .zmenaProgramu {
    max-width: 70rem;
  }
}/*# sourceMappingURL=style.css.map */