---
layout: /layouts/template-main.njk
title: Rozhybeme Dvur
metaDescription: nejaky popis
pagination:
  data: collections.akceMD
  size: 3
  alias: collections.akceMD
---

{% include 'partials/menu.njk' %}
{% include 'partials/banner.njk' %}
{% include 'partials/filters.njk' %}

<!-- {% include 'partials/akce.njk' %} -->

<div class="akce">

  {% for akce in collections.akceMD | reverse %}  

  <div class=" akce__item {{ akce.data.myTags }} ">
    <a class="akce__link" href="{{ akce.data.kdy | slugify }}_{{ akce.data.title | slugify }}">

      <img src="{{ akce.data.fotomin }}" class="akce__image" alt="{{ akce.data.alt }}">
      <h4 class="akce__title">{{ akce.data.title }}</h4>
      <span class="akce__datum">{{ akce.data.kdy }} </span>
    </a>
  </div>

  {% endfor %}

</div>

</div>

<div class="akce__pagination">
    {% if pagination.href.previous %} <button class="button"><a href="{{ pagination.href.previous }}  ">Predchozi strana</a></button>{% endif %}
      {% for pageNumber in pagination.pages %}
        <button class="button"><a href="{{ pagination.hrefs[loop.index0] }}">{{ loop.index }}</a></button>
      {% endfor %}
    {% if pagination.href.next %} <button class="button"><a href="{{ pagination.href.next }}">Dalsi strana</a></button>{% endif %}
</div>



