---
layout: /layouts/template-main.njk
title: Rozhybeme Dvur
metaDescription: nejaky popis
pagination:
  data: collections.akceMD
  size: 1
  alias: SingleAkce
permalink: "akce/{{ SingleAkce.data.kdy | slugify }}_{{ SingleAkce.data.title | slugify }}/"
---

{% include 'partials/menu.njk' %}
{% include 'partials/banner.njk' %}

  <h2>{{ SingleAkce.data.title }}</h2>
  <div class="singleAkce">
  <div>
  <p>Kdy: {{ SingleAkce.data.kdy }} </p>
  <p>Kde: {{ SingleAkce.data.kde }} </p>
  <p>{{ SingleAkce.templateContent | safe }}</p>
</div>
<div>
  <img src="{{ SingleAkce.data.fotomin }}" class="singleAkce__image" alt="{{ SingleAkce.data.alt }}">
</div>
</div>





