---
layout: /layouts/template-main.njk
title: Rozhybeme Dvur
metaDescription: nejaky popis
pagination:
  data: collections.akceMD
  size: 10
  alias: collections.akceMD
---

{% include 'partials/menu.njk' %}
{% include 'partials/banner.njk' %}
{% include 'partials/filters.njk' %}

{% include 'partials/akce.njk' %}

<div class="akce__pagination">
    {% if pagination.href.previous %} <button class="button"><a href="{{ pagination.href.previous }}  ">Predchozi strana</a></button>{% endif %}
      {% for pageNumber in pagination.pages %}
        <button class="button {{ 'button--active' if page.url === pagination.hrefs[loop.index0] }}"><a href="{{ pagination.hrefs[loop.index0] }}">{{ loop.index }}</a></button>
      {% endfor %}
    {% if pagination.href.next %} <button class="button"><a href="{{ pagination.href.next }}">Dalsi strana</a></button>{% endif %}
</div>



