---
layout: /layouts/template-main.njk
title: Rozhybeme Dvur
metaDescription: nejaky popis
pagination:
  data: collections.akceMD
  size: 1
  alias: SingleAkce
permalink: "akce/{{ SingleAkce.data.SouborRok }}{{ SingleAkce.data.SouborMesic }}{{ SingleAkce.data.SouborDen }}_{{ SingleAkce.data.title | slugify }}/"
---

{% include 'partials/menu.njk' %}

<section class="banner">
  <img src="/images/rozhybeme_Dvur_pozadi.png" alt="">
  <p class="banner__headline--akce">
    {{ SingleAkce.data.title }}
  </p>
</section>

  <!-- <h2>{{ SingleAkce.data.title }}</h2> -->
<div class="singleAkce">
  <div class="singleAkce__textovaCast">
    <h3 class="singleAkce__nadpis">INFORMACE O AKCI</h3>

    <p class="singleAkce__popisek">Kdy: </p>
    <p class="singleAkce__popisek-text">{{ SingleAkce.data.kdy }}</p>

    <p class="singleAkce__popisek">Kde: </p>
    <p class="singleAkce__popisek-text">{{ SingleAkce.data.kde }}</p>

    {% if SingleAkce.data.vstupne %}
      <p class="singleAkce__popisek">Vstupné: </p>
      <p class="singleAkce__popisek-text">{{ SingleAkce.data.vstupne }}</p>
    {% endif %}

    {% if SingleAkce.data.web %}
      <p class="singleAkce__popisek">Webové stránky akce: </p>
      <p class="singleAkce__popisek-text"><a class="link" href="{{ SingleAkce.data.web }}">Odkaz ZDE</a> </p>
    {% endif %}

    {% if SingleAkce.data.registrace %}
      <p class="singleAkce__popisek">Registrace na akci: </p>
      <p class="singleAkce__popisek-text"><a class="link" href="{{ SingleAkce.data.registrace }}">Odkaz ZDE</a> </p>
    {% endif %}

    <p class="singleAkce__popisek">Podrobnosti: </p>
    <p  class="singleAkce__popisek-text">{{ SingleAkce.templateContent | safe }}</p>

  </div>
  <div>

    <a data-fslightbox href="{{ SingleAkce.data.foto }}"><img src="{{ SingleAkce.data.foto }}" class="singleAkce__image" alt="{{ SingleAkce.data.alt }}"></a>

  </div>
</div>

{% include 'partials/zmenaProgramu.njk' %}





