---
layout: /layouts/template-main.njk
title: Rozhýbeme Dvůr - úvodní strana
metaDescription: Informace o akcích, aktivitách, kroužcích, výletech a táborech v okolí Dvora Králové nad Labem.
keywords: Dvůr Králové nad Labem, akce, kroužky, tábory, výlety, aktivity
---
{% include 'partials/menu.njk' %}
{% include 'partials/banner.njk' %}

<main>
    <section class="uvod">   
        <div class="uvod__card">
            <h3 class="uvod__kategorie-nazev">JAK POMOCI?</h3>
            <p class="uvod__kategorie-text">Víte o akci, kroužku, aktivitě, která zde není uvedena nebo nějakou akci pořádáte? Tento web je naše dobrovolná práce, budeme rády, když nám pomůžete.</p>
            <button class="uvod__kategorie-vice button  uvod__button" id="uvod__button-2">Jak pomoci?</button>

        </div>

        <div class="uvod__vice uvod__button-2 uvod__vice--hide">Informace o své akci nám můžete zaslat pomocí kontaktního formuláře prostřednictvím služby Google Forms <a class="link" href="https://forms.gle/tVU6jgPeY8U2yu9v9">odkaz ZDE</a>. Případně můžete využít ostatní kontakty v záložce <a class="link" href="/kontakt">Kontakty</a>.
        </div>

        <div class="uvod__card uvod__card--nobutton">
            <h3 class="uvod__kategorie-nazev">ODKUD ČERPÁME INFORMACE?</h3>
            <p class="uvod__kategorie-text">Informace o akcích, aktivitách, kroužcích a táborech čerpáme z oficiálních zdrojů na různých webových stránkách a facebookových profilech organizací. Dalším zdrojem jsou pak informace, které nám sdělí samy pořádající osoby.</p>
        </div>

        <div class="uvod__card uvod__card--nobutton">
            <h3 class="uvod__kategorie-nazev">PODĚKOVÁNÍ</h3>
            <p class="uvod__kategorie-text">Chci tímto poděkovat paní <strong>Janě Bartecké</strong> za dobrovolnou činnost v podobě vytvoření webových stránek, poskytnutí užitečných rad a především za její ochotu, bez které by to nemohlo vzniknout. Dále také paní <strong>Kateřině Havlové</strong> za grafické doladění stránek. Děkuji</p>
        </div>

        <div class="uvod__card">
            <h3 class="uvod__kategorie-nazev">KDO JSEM?</h3> 

            <p class="uvod__kategorie-text">Aktivní člověk, kterému se líbí myšlenka najít veškeré aktivity v okolí Dvora pro sebe a své děti na jednom místě.</p>

            <button class="uvod__kategorie-vice button uvod__button" id="uvod__button-1">Více o mě</button>
        </div>

            <div class="uvod__vice uvod__button-1 uvod__vice--hide">Ve Dvoře Králové nad Labem jsem studovala  střední školu a po deseti letech jsem se sem vrátila. Tehdy se začal celý nápad tvořit v hlavě, aniž bych tušila, že bude realizován. Jsem poměrně aktivní člověk a chtěla jsem  někam chodit sportovat, nikoho jsem zde bohužel neznala. Takže má první cesta vedla na   městské informace, kde jsem dostala pár tipů. Pak už jsem musela vše začít skládat jako   puzzle. Následně se nám narodil syn a tím přibyli další radosti a starosti.

                <p>Byla jsem členem už v mnoha Dvorských skupinkách, ale příspěvky zapadají a já    sivšechny akce nepamatovala. A tak jsem se rozhodla vytvořit novou skupinku na FB.</p>
                
                <p>Tím, že akcí a informací bylo mnoho, přišel nápad a žádost o vytvoření webovek.Tak   jsou tady ve vší parádě. Vše bude přehledné a nic nezapadne v záplavě novýchinformací.    Skupinka na FB bude i nadále funkční.</p>
                
                <p>Vše je spravováno ve volných chvilkách. Pokud tedy o něčem víte, co byste    rádi doplnili atd. neváhejte mě kontaktovat přes záložku kontakt.</p>
                
                <p>Vaše Aktivní Markéta</p>
            </div>


    </section>
</main>