---
layout: /layouts/template-main.njk
title: Rozhybeme Dvur
metaDescription: Kontaktní informace
keywords: Dvůr Králové nad Labem, Markéta Mrštíková
---
{% include 'partials/menu.njk' %}
{% include 'partials/banner.njk' %}


<div class="kontakt">
    <div class="kontakt__card">
        <p>Bc.Markéta Mrštíková</p>
        <p>Tel: <a href="tel:725 505 234">725 505 234</a> </p>
        <p>Email: <a href="mailto:rozhybemedvur@gmail.com">rozhybemedvur@gmail.com</a></p>
        <p>Facebook: <a href="http://www.facebook.com/groups/1282092685941096">Rozhýbeme Dvůr</a></p>

        <h2 class="kontakt__nadpis">Kontaktní formulář</h2>
        <p>O své akci / kroužku / táboru nám můžete napsat prostřednictvím <a href="https://forms.gle/tVU6jgPeY8U2yu9v9">kontaktního formuláře ZDE.</a></p>
    </div>

</div>