---
layout: /layouts/template-main.njk
title: Rozhybeme Dvur
metaDescription: nejaky popis
pagination:
  data: collections.krouzkyMD
  size: 1
  alias: SingleKrouzek
permalink: "krouzky/{{ SingleKrouzek.data.title | slugify }}/"
---

{% include 'partials/menu.njk' %}

<section class="banner">
  <p class="banner__headline">
    {{ SingleKrouzek.data.title }}
  </p>
</section>

  <!-- <h2>{{ SingleAkce.data.title }}</h2> -->
<div class="singleAkce">
  <div class="singleAkce__textovaCast">
    <h3 class="singleAkce__nadpis">INFORMACE O KROUŽKU</h3>
    {% if SingleKrouzek.data.kdy != null %}
    <p class="singleAkce__popisek">Kdy: </p>
      <p class="singleAkce__popisek-text">{{ SingleKrouzek.data.kdy }}</p>
      {% endif %}
    <p class="singleAkce__popisek">Kde: </p>
    <p class="singleAkce__popisek-text">{{ SingleKrouzek.data.kde }}</p>
    {% if SingleKrouzek.data.polatek != null %}
      <p class="singleAkce__popisek">Poplatek: </p>
      <p class="singleAkce__popisek-text">{{ SingleKrouzek.data.polatek }}</p>
    {% endif %}
    {% if SingleKrouzek.data.web != null %}
    <p class="singleAkce__popisek">Webové stránky kroužku: </p>
    <p class="singleAkce__popisek-text"><a href="{{ SingleKrouzek.data.web }}">Odkaz ZDE</a></p>
    {% endif %}
    <p class="singleAkce__popisek">Podrobnosti: </p>
    <p  class="singleAkce__popisek-text">{{ SingleKrouzek.templateContent | safe }}</p>
  </div>
  <div>
    <a data-fslightbox href="{{ SingleKrouzek.data.foto }}"><img src="{{ SingleKrouzek.data.foto }}" class="singleAkce__image" alt="{{ SingleKrouzek.data.alt }}"></a>
  </div>
</div>

{% include 'partials/zmenaProgramu.njk' %}





