---
layout: /layouts/template-main.njk
title: Rozhybeme Dvur
metaDescription: nejaky popis
pagination:
  data: collections.taboryMD
  size: 1
  alias: SingleTabor
permalink: "tabory/{{ SingleTabor.data.title | slugify }}/"
---

{% include 'partials/menu.njk' %}

<section class="banner">
  <p class="banner__headline">
    {{ SingleTabor.data.title }}
  </p>
</section>

  <!-- <h2>{{ SingleAkce.data.title }}</h2> -->
<div class="singleAkce">
  <div class="singleAkce__textovaCast">
    <h3 class="singleAkce__nadpis">INFORMACE O TÁBORU</h3>
    <p class="singleAkce__popisek">Kdy: </p>
      <p class="singleAkce__popisek-text">{{ SingleTabor.data.kdy }}</p>
    <p class="singleAkce__popisek">Kde: </p>
    <p class="singleAkce__popisek-text">{{ SingleTabor.data.kde }}</p>
    {% if SingleTabor.data.polatek != null %}
    <p class="singleAkce__popisek">Poplatek: </p>
    <p class="singleAkce__popisek-text">{{ SingleTabor.data.polatek }}</p>
    {% endif %}
    {% if SingleTabor.data.web != null %}
    <p class="singleAkce__popisek">Webové stránky táboru: </p>
    <p class="singleAkce__popisek-text"><a href="{{ SingleTabor.data.web }}">Odkaz ZDE</a></p>
    {% endif %}
    <p class="singleAkce__popisek">Podrobnosti: </p>
    <p  class="singleAkce__popisek-text">{{ SingleTabor.templateContent | safe }}</p>
  </div>
  <div>
    <a data-fslightbox href="{{ SingleTabor.data.foto }}"><img src="{{ SingleTabor.data.foto }}" class="singleAkce__image" alt="{{ SingleTabor.data.alt }}"></a>
  </div>
</div>

{% include 'partials/zmenaProgramu.njk' %}





