---
layout: /layouts/template-main.njk
title: Rozhybeme Dvur
metaDescription: Výlety v okolí Dvora Králové nad Labem
keywords: výlety, Dvůr Králové nad Labem
pagination:
  data: collections.vyletyMD
  size: 15
  alias: collections.vyletyMD
---

{% include 'partials/menu.njk' %}
{% include 'partials/banner.njk' %}

{% include 'partials/filtersVylety.njk' %}
{% include 'partials/vylety.njk' %}

<div class="akce__pagination">
  {% if pagination.href.previous %} <button class="akce__button"><a class="button" href="{{ pagination.href.previous }}  ">Předchozí strana</a></button>{% endif %}
    {% for pageNumber in pagination.pages %}
      <button class="akce__button"><a class="button {{ 'button--active' if page.url === pagination.hrefs[loop.index0] }}" href="{{ pagination.hrefs[loop.index0] }}">{{ loop.index }}</a></button>
    {% endfor %}
  {% if pagination.href.next %} <button class="akce__button"><a class="button" href="{{ pagination.href.next }}">Další strana</a></button>{% endif %}
</div>