---
layout: /layouts/template-main.njk
title: Rozhybeme Dvur
metaDescription: nejaky popis
pagination:
  data: collections.vyletyMD
  size: 1
  alias: SingleVylet
permalink: "vylety/{{ SingleVylet.data.title | slugify }}/"
---

{% include 'partials/menu.njk' %}

<section class="banner">
  <img src="/images/rozhybeme_Dvur_pozadi.png" alt="">
  <p class="banner__headline--akce">
    {{ SingleVylet.data.title }}
  </p>
</section>

<div class="singleAkce">
  <div class="singleAkce__textovaCast">
    <h3 class="singleAkce__nadpis">INFORMACE O VÝLETU</h3>
    <p class="singleAkce__popisek">Kde: </p>
    <p class="singleAkce__popisek-text">{{ SingleVylet.data.kde }}</p>
    {% if SingleVylet.data.web %}
      <p class="singleAkce__popisek">Webové stránky výletu: </p>
      <p class="singleAkce__popisek-text">Odkaz ZDE</p>
    {% endif %}
    <p class="singleAkce__popisek">Podrobnosti: </p>
    <p  class="singleAkce__popisek-text">{{ SingleVylet.templateContent | safe }}</p>
  </div>
  <div>
    <a data-fslightbox href="{{ SingleVylet.data.foto }}"><img src="{{ SingleVylet.data.foto }}" class="singleAkce__image" alt="{{ SingleVylet.data.alt }}"></a>
  </div>
</div>

<div class="singleAkce__fotogalerie">

  {% if SingleVylet.data.foto1 %}
    <a data-fslightbox href="{{ SingleVylet.data.foto1 }}"><img src="{{ SingleVylet.data.foto1 }}"  class="singleAkce__image" alt="{{ SingleVylet.data.alt1 }}"></a>
  {% endif %}

  {% if SingleVylet.data.foto2 %}
    <a data-fslightbox href="{{ SingleVylet.data.foto2 }}"><img src="{{ SingleVylet.data.foto2 }}"    class="singleAkce__image" alt="{{ SingleVylet.data.alt2 }}"></a>
  {% endif %}

  {% if SingleVylet.data.foto3 %}
    <a data-fslightbox href="{{ SingleVylet.data.foto3 }}"><img src="{{ SingleVylet.data.foto3 }}"      class="singleAkce__image" alt="{{ SingleVylet.data.alt3 }}"></a>
  {% endif %}

  {% if SingleVylet.data.foto4 %}
    <a data-fslightbox href="{{ SingleVylet.data.foto4 }}"><img src="{{ SingleVylet.data.foto4 }}"      class="singleAkce__image" alt="{{ SingleVylet.data.alt4 }}"></a>
  {% endif %}

  {% if SingleVylet.data.foto5 %}
    <a data-fslightbox href="{{ SingleVylet.data.foto5 }}"><img src="{{ SingleVylet.data.foto5 }}"      class="singleAkce__image" alt="{{ SingleVylet.data.alt5 }}"></a>
  {% endif %}

  {% if SingleVylet.data.foto6 %}
    <a data-fslightbox href="{{ SingleVylet.data.foto6 }}"><img src="{{ SingleVylet.data.foto6 }}"      class="singleAkce__image" alt="{{ SingleVylet.data.alt6 }}"></a>
  {% endif %}

  {% if SingleVylet.data.foto7 %}
    <a data-fslightbox href="{{ SingleVylet.data.foto7 }}"><img src="{{ SingleVylet.data.foto7 }}"    class="singleAkce__image" alt="{{ SingleVylet.data.alt7 }}"></a>
  {% endif %}

  {% if SingleVylet.data.foto8 %}
    <a data-fslightbox href="{{ SingleVylet.data.foto8 }}"><img src="{{ SingleVylet.data.foto8 }}"    class="singleAkce__image" alt="{{ SingleVylet.data.alt8 }}"></a>
  {% endif %}

  {% if SingleVylet.data.foto9 %}
    <a data-fslightbox href="{{ SingleVylet.data.foto9 }}"><img src="{{ SingleVylet.data.foto9 }}"    class="singleAkce__image" alt="{{ SingleVylet.data.alt9 }}"></a>
  {% endif %}

{% if SingleVylet.data.foto10 %}
<a data-fslightbox href="{{ SingleVylet.data.foto10 }}"><img src="{{ SingleVylet.data.foto10 }}"  class="singleAkce__image" alt="{{ SingleVylet.data.alt10 }}"></a>
{% endif %}

{% if SingleVylet.data.foto11 %}
<a data-fslightbox href="{{ SingleVylet.data.foto11 }}"><img src="{{ SingleVylet.data.foto11 }}"  class="singleAkce__image" alt="{{ SingleVylet.data.alt11 }}"></a>
{% endif %}

{% if SingleVylet.data.foto12 %}
<a data-fslightbox href="{{ SingleVylet.data.foto12 }}"><img src="{{ SingleVylet.data.foto12 }}"  class="singleAkce__image" alt="{{ SingleVylet.data.alt12 }}"></a>
{% endif %}

{% if SingleVylet.data.foto13 %}
<a data-fslightbox href="{{ SingleVylet.data.foto13 }}"><img src="{{ SingleVylet.data.foto13 }}"  class="singleAkce__image" alt="{{ SingleVylet.data.alt13 }}"></a>
{% endif %}

{% if SingleVylet.data.foto14 %}
<a data-fslightbox href="{{ SingleVylet.data.foto14 }}"><img src="{{ SingleVylet.data.foto14 }}"  class="singleAkce__image" alt="{{ SingleVylet.data.alt14 }}"></a>
{% endif %}

{% if SingleVylet.data.foto15 %}
<a data-fslightbox href="{{ SingleVylet.data.foto15 }}"><img src="{{ SingleVylet.data.foto15 }}"  class="singleAkce__image" alt="{{ SingleVylet.data.alt15 }}"></a>
{% endif %}

</div>





