
<div class="akce">

  {% for akce in collections.akce | reverse %}  

  <div class=" akce__item {{ akce.data.myTags }} ">
    <a class="akce__link" href="{{ akce.data.fotomax }}">

      <img src="{{ akce.data.fotomin }}" class="akce__image" alt="{{ akce.data.alt }}">
      <h3 class="akce__title">{{ akce.data.title }}</h3>
      <span class="akce__datum">{{ akce.data.kdy }} </span> 
    </a>
  </div>

  {% endfor %}

</div>

</div>

