
<div class="akce">
  {% for aktivity in collections.aktivityMD | reverse %}  

  <div class=" akce__item {{ aktivity.data.myTags }} ">
    <a class="akce__link" href="https://rozhybemedvur.cz/aktivity/{{ aktivity.data.title | slugify }}/">
      <h3 class="akce__title">{{ aktivity.data.title }}</h3>
      <div class="akce__image-holder">
        <img src="{{ aktivity.data.foto }}" class="akce__image" alt="{{ aktivity.data.alt }}">
      </div>
      <div class="akce__stitky">
        {% if aktivity.data.registrace != null %}
          <div class="akce__datum akce__registrace">Nutná registrace</div>
        {% endif %}
        <div class="akce__datum">{{ aktivity.data.kdy }} </div> 
      </div>
    </a>
  </div>
  {% endfor %}
</div>

</div>

