<section class="banner">
    <img src="/images/rozhybeme_Dvur.png" alt="">
    <p class="banner__headline">
    {% if page.fileSlug === '' %}
        Vítejte na stránkách <br>
        <span class="banner__nazev">rozhýbeme Dvůr</span>
    {% elseif page.fileSlug === 'akce' %}
        Akce
    {% elseif page.fileSlug === 'krouzky' %}
        Kroužky
    {% elseif page.fileSlug === 'aktivity' %}
        Aktivity
    {% elseif page.fileSlug === 'vylety' %}
        Výlety
    {% elseif page.fileSlug === 'tabory' %}
        Tábory
    {% elseif page.fileSlug === 'kontakt' %}
        Kontakt
    {% endif %}
    </p>
</section>