<section class="banner">
    <img src="/images/rozhybeme_Dvur1.png" alt="">
    <p class="banner__headline">
    {% if page.fileSlug === '' %}
        Vítejte na stránkách
        <span class="banner__nazev">rozhýbeme Dvůr</span>
    {% elseif page.fileSlug === 'akce' %}
    <span class="banner__nazev--jiny">Akce</span>
    {% elseif page.fileSlug === 'krouzky' %}
    <span class="banner__nazev--jiny">Kroužky</span>
    {% elseif page.fileSlug === 'aktivity' %}
    <span class="banner__nazev--jiny">Aktivity</span>
    {% elseif page.fileSlug === 'vylety' %}
    <span class="banner__nazev--jiny">Výlety</span>
    {% elseif page.fileSlug === 'tabory' %}
    <span class="banner__nazev--jiny">Tábory</span>
    {% elseif page.fileSlug === 'kontakt' %}
    <span class="banner__nazev--jiny">Kontakt</span>
    {% endif %}
</p>
</section>