<section class="banner">
    <p class="banner__headline">
    {% if page.fileSlug === '' %}
            Úvod
    {% endif %}
    
    {% if page.fileSlug === 'akce' %}
    Akce
    {% endif %}

    {% if page.fileSlug === 'krouzky' %}
    Kroužky
    {% endif %}

    {% if page.fileSlug === 'kontakt' %}
    Kontakt
    {% endif %}
    </p>
</section>