<button class="button button__filtrovani">Skryt filtrovani</button>

<div class="filterContent">
<section class="filters">
    <h3 class="filters__category-name">Typ akce:</h3>
    <div class="filters__group">
      <div><input type="checkbox" name="TypAkce" value="HudbaDivadlo" id="HudbaDivadlo"><label class="filters__checkboxItem" for="HudbaDivadlo">Hudební a divadelní</label></div>

      <div><input class="checkbox" type="checkbox" name="TypAkce" value="KurzyWorkshopy" id="KurzyWorkshopy"><label class="filters__checkboxItem" for="KurzyWorkshopy">Kurzy a workshopy</label></div>

      <div><input class="checkbox" type="checkbox" name="TypAkce" value="ProDeti" id="ProDeti"><label class="filters__checkboxItem" for="ProDeti">Pro děti</label></div>

      <div><input class="checkbox" type="checkbox" name="TypAkce" value="ProDospele" id="ProDospele"><label class="filters__checkboxItem" for="ProDospele">Pro dospělé</label></div>

      <div><input class="checkbox" type="checkbox" name="TypAkce" value="Spolecenske" id="Spolecenske"><label class="filters__checkboxItem" for="Spolecenske">Společenské akce</label></div>

      <div><input class="checkbox" type="checkbox" name="TypAkce" value="Sportovni" id="Sportovni"><label class="filters__checkboxItem" for="Sportovni">Sportovní akce</label></div>

      <div><input class="checkbox" type="checkbox" name="TypAkce" value="Vystavy" id="Vystavy"><label class="filters__checkboxItem" for="Vystavy">Výstavy</label></div>

      <div><input class="checkbox" type="checkbox" name="TypAkce" value="Ostatni" id="Ostatni"><label class="filters__checkboxItem" for="Ostatni">Ostatní</label></div>

    </div>
    <h3 class="filters__category-name">Doba konani:</h3>
    <div class="filters__group">
      <div><input class="checkbox" type="checkbox" name="DobaKonani" value="duben2023" id="duben2023"><label class="filters__checkboxItem" for="duben2023">Duben 2023</label></div>
      <div><input class="checkbox" type="checkbox" name="DobaKonani" value="kveten2023" id="kveten2023"><label class="filters__checkboxItem" for="kveten2023">Květen 2023</label></div>
      <div><input class="checkbox" type="checkbox" name="DobaKonani" value="cerven2023" id="cerven2023"><label class="filters__checkboxItem" for="cerven2023">Červen 2023</label></div>
      <div><input class="checkbox" type="checkbox" name="DobaKonani" value="cervenec2023" id="cervenec2023"><label class="filters__checkboxItem" for="cervenec2023">Červenec 2023</label></div>
      <div><input class="checkbox" type="checkbox" name="DobaKonani" value="srpen2023" id="srpen2023"><label class="filters__checkboxItem" for="srpen2023">Srpen 2023</label></div>
      <div><input class="checkbox" type="checkbox" name="DobaKonani" value="zari2023" id="zari2023"><label class="filters__checkboxItem" for="zari2023">Září 2023</label></div>
      <div><input class="checkbox" type="checkbox" name="DobaKonani" value="rijen2023" id="rijen2023"><label class="filters__checkboxItem" for="rijen2023">Říjen 2023</label></div>
      <div><input class="checkbox" type="checkbox" name="DobaKonani" value="listopad2023" id="listopad2023"><label class="filters__checkboxItem" for="listopad2023">Listopad 2023</label></div>
      <div><input class="checkbox" type="checkbox" name="DobaKonani" value="prosinec2023" id="prosinec2023"><label class="filters__checkboxItem" for="prosinec2023">Prosinec 2023</label></div>
    </div>
</section>