<button class="button button__filtrovani">Skryt filtrovani</button>

<div class="filterContent">
<section class="filters">
    <!-- <h3 class="filters__category-name">Podle věku:</h3> -->
    <div class="filters__group">
      <div><input class="checkbox" type="checkbox" name="Vylety" value="VyletyPesky" id="VyletyPesky"><label class="filters__checkboxItem" for="VyletyPesky">Pěšky</label></div>

      <div><input class="checkbox" type="checkbox" name="Vylety" value="VyletyNaKole" id="VyletyNaKole"><label class="filters__checkboxItem" for="VyletyNaKole">Na kole</label></div>

      <div><input class="checkbox" type="checkbox" name="Vylety" value="VyletyAutem" id="VyletyAutem"><label class="filters__checkboxItem" for="VyletyAutem">Autem</label></div>

      <div><input class="checkbox" type="checkbox" name="Vylety" value="VyletyVlakem" id="VyletyVlakem"><label class="filters__checkboxItem" for="VyletyVlakem">Vlakem</label></div>

      <div><input class="checkbox" type="checkbox" name="Vylety" value="VyletyOstatni" id="VyletyOstatni"><label class="filters__checkboxItem" for="VyletyOstatni">Ostatní</label></div>

    </div>
</section>