<button class="button button__filtrovani">Skryt filtrovani</button>

<div class="filterContent">
<section class="filters">
    <h3 class="filters__category-name">Podle věku:</h3>
    <div class="filters__group">
      <div><input class="checkbox" type="checkbox" name="KrouzkyPodleVeku" value="KrouzkyDospeli" id="KrouzkyDospeli"><label class="filters__checkboxItem" for="KrouzkyDospeli">Dospělí</label></div>
      
      <div><input class="checkbox" type="checkbox" name="KrouzkyPodleVeku" value="KrouzkyDo3" id="KrouzkyDo3"><label class="filters__checkboxItem" for="KrouzkyDo3">Do 3 let</label></div>

      <div><input class="checkbox" type="checkbox" name="KrouzkyPodleVeku" value="KrouzkyOd3" id="KrouzkyOd3"><label class="filters__checkboxItem" for="KrouzkyOd3">Od 3 let</label></div>

      <div><input class="checkbox" type="checkbox" name="KrouzkyPodleVeku" value="KrouzkyOd4" id="KrouzkyOd4"><label class="filters__checkboxItem" for="KrouzkyOd4">Od 4 let</label></div>

      <div><input class="checkbox" type="checkbox" name="KrouzkyPodleVeku" value="KrouzkyOd5" id="KrouzkyOd5"><label class="filters__checkboxItem" for="KrouzkyOd5">Od 5 let</label></div>

      <div><input class="checkbox" type="checkbox" name="KrouzkyPodleVeku" value="KrouzkyOd6" id="KrouzkyOd6"><label class="filters__checkboxItem" for="KrouzkyOd6">Od 6 let</label></div>

      <div><input class="checkbox" type="checkbox" name="KrouzkyPodleVeku" value="KrouzkyOd7" id="KrouzkyOd7"><label class="filters__checkboxItem" for="KrouzkyOd7">Od 7 let</label></div>

      <div><input class="checkbox" type="checkbox" name="KrouzkyPodleVeku" value="KrouzkyOd8" id="KrouzkyOd8"><label class="filters__checkboxItem" for="KrouzkyOd8">Od 8 let</label></div>

      <div><input class="checkbox" type="checkbox" name="KrouzkyPodleVeku" value="KrouzkyOd9" id="KrouzkyOd9"><label class="filters__checkboxItem" for="KrouzkyOd9">Od 9 let</label></div>

      <div><input class="checkbox" type="checkbox" name="KrouzkyPodleVeku" value="KrouzkyOd10" id="KrouzkyOd10"><label class="filters__checkboxItem" for="KrouzkyOd10">Od 10 let</label></div>

      <div><input class="checkbox" type="checkbox" name="KrouzkyPodleVeku" value="KrouzkyOd11" id="KrouzkyOd11"><label class="filters__checkboxItem" for="KrouzkyOd11">Od 11 let</label></div>

      <div><input class="checkbox" type="checkbox" name="KrouzkyPodleVeku" value="KrouzkyOd12" id="KrouzkyOd12"><label class="filters__checkboxItem" for="KrouzkyOd12">Od 12 let</label></div>
      <div><input class="checkbox" type="checkbox" name="KrouzkyPodleVeku" value="KrouzkyOd13" id="KrouzkyOd13"><label class="filters__checkboxItem" for="KrouzkyOd13">Od 13 let</label></div>
      <div><input class="checkbox" type="checkbox" name="KrouzkyPodleVeku" value="KrouzkyOd14" id="KrouzkyOd14"><label class="filters__checkboxItem" for="KrouzkyOd14">Od 14 let</label></div>
      <div><input class="checkbox" type="checkbox" name="KrouzkyPodleVeku" value="KrouzkyOd15" id="KrouzkyOd15"><label class="filters__checkboxItem" for="KrouzkyOd15">Od 15 let a více</label></div>

      <div><input class="checkbox" type="checkbox" name="KrouzkyPodleVeku" value="KrouzkyOstatni" id="KrouzkyOstatni"><label class="filters__checkboxItem" for="KrouzkyOstatni">Ostatní</label></div>

    </div>
    <button class="button button__resetovani">Resetovat filtry</button>
</section>