<button class="button button__filtrovani">Skryt filtrovani</button>

<div class="filterContent">
<section class="filters">
    <h3 class="filters__category-name">Podle věku:</h3>
    <div class="filters__group">
      <div><input class="checkbox" type="checkbox" name="AktivityPodleVeku" value="AktivityDo3" id="AktivityDo3"><label class="filters__checkboxItem" for="AktivityDo3">Do 3 let</label></div>

      <div><input class="checkbox" type="checkbox" name="AktivityPodleVeku" value="AktivityOd3" id="AktivityOd3"><label class="filters__checkboxItem" for="AktivityOd3">Od 3 let</label></div>

      <div><input class="checkbox" type="checkbox" name="AktivityPodleVeku" value="AktivityOd4" id="AktivityOd4"><label class="filters__checkboxItem" for="AktivityOd4">Od 4 let</label></div>

      <div><input class="checkbox" type="checkbox" name="AktivityPodleVeku" value="AktivityOd5" id="AktivityOd5"><label class="filters__checkboxItem" for="AktivityOd5">Od 5 let</label></div>

      <div><input class="checkbox" type="checkbox" name="AktivityPodleVeku" value="AktivityOd6" id="AktivityOd6"><label class="filters__checkboxItem" for="AktivityOd6">Od 6 let</label></div>

      <div><input class="checkbox" type="checkbox" name="AktivityPodleVeku" value="AktivityOd7" id="AktivityOd7"><label class="filters__checkboxItem" for="AktivityOd7">Od 7 let</label></div>

      <div><input class="checkbox" type="checkbox" name="AktivityPodleVeku" value="AktivityOd8" id="AktivityOd8"><label class="filters__checkboxItem" for="AktivityOd8">Od 8 let</label></div>

      <div><input class="checkbox" type="checkbox" name="AktivityPodleVeku" value="AktivityOd9" id="AktivityOd9"><label class="filters__checkboxItem" for="AktivityOd9">Od 9 let</label></div>

      <div><input class="checkbox" type="checkbox" name="AktivityPodleVeku" value="AktivityOd10" id="AktivityOd10"><label class="filters__checkboxItem" for="AktivityOd10">Od 10 let</label></div>

      <div><input class="checkbox" type="checkbox" name="AktivityPodleVeku" value="AktivityOd11" id="AktivityOd11"><label class="filters__checkboxItem" for="AktivityOd11">Od 11 let</label></div>

      <div><input class="checkbox" type="checkbox" name="AktivityPodleVeku" value="AktivityOd12" id="AktivityOd12"><label class="filters__checkboxItem" for="AktivityOd12">Od 12 let</label></div>
      <div><input class="checkbox" type="checkbox" name="AktivityPodleVeku" value="AktivityOd13" id="AktivityOd13"><label class="filters__checkboxItem" for="AktivityOd13">Od 13 let</label></div>
      <div><input class="checkbox" type="checkbox" name="AktivityPodleVeku" value="AktivityOd14" id="AktivityOd14"><label class="filters__checkboxItem" for="AktivityOd14">Od 14 let</label></div>
      <div><input class="checkbox" type="checkbox" name="AktivityPodleVeku" value="AktivityOd15" id="AktivityOd15"><label class="filters__checkboxItem" for="AktivityOd15">Od 15 let a více</label></div>

      <div><input class="checkbox" type="checkbox" name="AktivityPodleVeku" value="AktivityDospeli" id="AktivityDospeli"><label class="filters__checkboxItem" for="AktivityDospeli">Dospělí</label></div>

      <div><input class="checkbox" type="checkbox" name="AktivityPodleVeku" value="AktivityOstatni" id="AktivityOstatni"><label class="filters__checkboxItem" for="AktivityOstatni">Ostatní</label></div>

    </div>
</section>