<script src="/js/filters.js"></script>
<script src="/js/filters2.js"></script>
<script src="/js/netlify.js"></script>
<script src="/js/menu.js"></script>
<script src="/js/main.js"></script>
<script src="/js/uvod.js"></script>
