<header>
    <div class="menu__background">
        <nav class="menu" role="navigation">
            <div class="menu__logo">
                tady logo
            </div>

            <div class="menu__navigation">
                <ul class="menu__list">
                    <li class="menu__item"><a href="" class="menu__link">Úvod</a></li>
                    <li class="menu__item"><a href="" class="menu__link">Akce</a></li>
                    <li class="menu__item"><a href="" class="menu__link">Kontakt</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>