
<div class="akce">

  {% for vylety in collections.vyletyMD | reverse %}  

  <div class=" akce__item {{ vylety.data.myTags }} ">
    <a class="akce__link" href="https://rozhybemedvur.netlify.app/vylety/{{ vylety.data.title | slugify }}/">
      <div class="akce__datum">{{ vylety.data.kdy }} </div> 
      
      <div class="akce__image-holder">
        <img src="{{ vylety.data.foto }}" class="akce__image" alt="{{ vylety.data.alt }}">
      </div>
      
      <h3 class="akce__title">{{ vylety.data.title }}</h3>
    </a>
  </div>

  {% endfor %}

</div>

</div>

