
<div class="akce">
  {% for vylety in collections.vyletyMD | reverse %}  
  <div class=" akce__item {{ vylety.data.myTags }} ">
    <a class="akce__link" href="{{ vylety.data.title | slugify }}/">
      <h3 class="akce__title">{{ vylety.data.title }}</h3>
      <div class="akce__image-holder">
        <img data-img="{{ vylety.data.foto }}" class="akce__image" alt="{{ vylety.data.alt }}">
      </div>
      
    </a>
  </div>
  {% endfor %}
</div>

</div>

