@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.akce {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: v.$spacer-middle;
    margin: v.$spacer-big auto 0 auto;
    padding: 0 v.$spacer-small;
    flex: 1 1 100%;
    // max-width: calc(100vw - 2*v.$spacer-small);

    &__link {
        height: 100%;
        width: 100%;
        // background-color: var(--primaryColor-similar);
        text-decoration: none;
        transition: all 0.5s linear;
        box-shadow: 0px 0px 10px var(--primaryColor-similar);
        @include m.cornerRound;

        &:hover {
            transform: scale(1.05);
        }

        &:hover .akce__datum{
            transform: scale(1.05);
        }
    }

    &__item {
        max-width: 200px;
        display: flex;
        flex-direction: column;
       position: relative;
    }

    &__item + .akce__item {
        margin-top: v.$spacer-small;
    }

    &__image {
        width: 100%;
        overflow: hidden;
        

        &-holder {
            width: 200px;
            height: 200px;
            overflow: hidden;
            @include m.cornerRound(v.$radius,v.$radius,0,0);
        }
    }

    &__title {
        // padding-top: 1rem;
        padding: v.$spacer-small;
        font-weight: 600;
        font-size: 1rem;
        color: var(--tertiaryColor);
        text-align: left;
    }

    &__datum {
        position: absolute;
        right: 0;
        top: 0;
        background-color: var(--secondaryColor);
        opacity: 0.7;
        padding: v.$spacer-small;
        color: black;
        font-weight: 600;
        @include m.cornerRound(0,v.$radius,0,0);
        transition: all 0.5s linear;
    }

    &__pagination {
        display: flex;
        flex-direction: row;
        justify-content:center;
    }

    @media screen and (min-width:v.$minwidth-tablet) {

    }
}

.singleAkce {
    margin: 0 auto;

    &__image {
        max-width: 100%;
        padding: 0 v.$spacer-big;
        margin: v.$spacer-normal auto 0 auto;
    }

    &__popisek {
        background-color: var(--greyColor);
        font-weight: 600;
        padding: v.$spacer-small;

        &-text {
            
            padding: v.$spacer-small;
            padding-bottom: v.$spacer-normal;
        }
    }

    &__nadpis {
        padding: v.$spacer-normal;
        background-color: var(--tertiaryColor);
        color: var(--lightColor);
        margin: v.$spacer-normal 0;
    }

    &__textovaCast {
        padding: 0 v.$spacer-big;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: stretch;


    }

    @media screen and (min-width:v.$minwidth-singleAkce) {
        max-width: v.$maxwidth;
        display: flex;
        flex-direction: row;
        flex: 1 1 50%;
        justify-content: center;

        &__image {
            max-width: 400px;
        }

        &__textovaCast {
            padding: 0 v.$spacer-big;
            margin: 0;
        }
    }
}