@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.akce {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    justify-items: stretch;
    align-items: flex-start;
    gap: v.$spacer-middle;
    margin: v.$spacer-big auto 0 auto;
    padding: 0 v.$spacer-small;

    &__link {
        height: 100%;
        width: 100%;
        text-decoration: none;
    }

    &__item {
        width: calc(100vw - 2*v.$spacer-normal);
        position: relative;
        box-shadow: 0px 0px 10px var(--primaryColor-similar);
        @include m.cornerRound;
        transition: all 0.5s linear;
        &:hover {
            transform: scale(1.05);
        }
    }

    &__image {
        width: 100%;
        overflow: hidden;
        

        &-holder {
            max-width: 200px;
            max-height: 200px;
            margin: 0 auto;
            overflow: hidden;
            padding: v.$spacer-small 0;
        }
    }

    &__title {
        padding: v.$spacer-small;
        font-weight: 600;
        font-size: 1.2rem;
        color: var(--primaryColor);
        text-align: left;
        margin-bottom: auto;
        width: 100%;
        border-bottom: 1px solid var(--primaryColor);
    }

    &__datum {
        background-color: var(--secondaryColor);
        opacity: 0.7;
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content;
        padding: v.$spacer-small;
        color: black;
        font-weight: 600;
        @include m.cornerRound(0,0,v.$radius,v.$radius);
        transition: all 0.5s linear;
    }

    &__registrace {
        @include m.cornerRound(0,0,0,0);
        background-color: var(--primaryColor-similar);
        color: black;
        font-weight: 600;
    }

    &__stitky {
        margin-top: auto;
    }

    &__pagination {
        display: flex;
        flex-direction: row;
        row-gap: v.$spacer-small;
        flex-wrap: wrap;
        justify-content:center;
        margin-top: v.$spacer-normal;
        margin-bottom: v.$spacer-normal;
    }

    @media screen and (min-width:v.$minwidth-tablet-akce) {
        &__item {
            width: calc(50vw - 2*v.$spacer-normal);
        }
    }

    @media screen and (min-width:v.$minwidth-tablet) {

    }

    @media screen and (min-width:v.$minwidth-computer-akce) {
        max-width: v.$maxwidth;
        &__item {
            flex-basis: calc(50% - 2*v.$spacer-normal);
        }
    }

    &__button {
        padding: 0;
        border: none;
        margin: 0;
        border-radius: v.$radius;

        & + .akce__button {
            margin-left: v.$spacer-small;
        }
    }
}

.singleAkce {
    margin: 0 auto;

    &__image {
        max-width: 100%;
        padding: 0 v.$spacer-big;
        margin: v.$spacer-normal auto 0 auto;
    }

    &__popisek {
        background-color: var(--greyColor);
        font-weight: 600;
        padding: v.$spacer-small;
        color: black;

        &-text {            
            padding: v.$spacer-small;
            padding-bottom: v.$spacer-normal;
        }

    }

    &__nadpis {
        padding: v.$spacer-normal;
        background-color: var(--tertiaryColor);
        color: var(--lightColor);
        margin: v.$spacer-normal 0;
    }

    &__textovaCast {
        padding: 0 v.$spacer-normal;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: stretch;

        & a:hover {
            color: var(--secondaryColor);
        }

        & a:link {
            color: var(--greyDarkColor);
            font-weight: 600;
        }

        & a:visited {
            color: var(--textColor);
        }

    }

    @media screen and (min-width:v.$minwidth-singleAkce) {
        max-width: v.$maxwidth;
        display: flex;
        flex-direction: row;
        justify-content: center;

        &__image {
            max-width: 400px;
        }

        &__textovaCast {
            padding: 0 v.$spacer-big v.$spacer-normal v.$spacer-big;
            margin: 0;
        }
    }

    &__fotogalerie {
        display: grid;
        gap: v.$spacer-normal;
        grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
        @include m.zarovnani;
        margin-top: v.$spacer-middle;
        
        & .singleAkce__image {
            margin: auto;
            padding: auto;
            max-width: 100%;
        }
    
    }
}