@use '../abstracts/variables' as v;

.banner {
    min-height: 100px;
    width: 100vw;
    background-color:  var(--primaryColor-similar) ;
    border-top: 1px dotted black;

    &__headline {
        font-size: 4rem;
        text-align: center;
        text-transform: uppercase;
        padding: 2rem 0;
        color: var(--lightColor);
        text-shadow: 0px 0px 5px var(--primaryColor), 0px 0px 5px var(--primaryColor);
    }
}