@use '../abstracts/variables' as v;

.button {
    padding: v.$spacer-small v.$spacer-big;
    margin-top: v.$spacer-normal;
    border: none;
    border-radius: v.$radius;
    background-color: var(--buttonColor);
    border: 4px solid var(--buttonColor);
    color: var(--textColor);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    display: inline-block;

    &:hover {
        background-color: var(--lightColor);
        border: 4px solid var(--buttonColor);
        color: var(--textColor);
        transition: all 0.3s;
    }

    &:active {
        background-color: var(--buttonColor);
        color: var(--textColor);
    }

    &--active {
        background-color: var(--tertiaryColor);
        border: 4px solid var(--tertiaryColor);
        color: var(--lightColor);
        & a {
            color: var(--lightColor);
        }

        &:hover {
            color: var(--textColor);
            & a {
                color: var(--textColor);
            }
        }

    }

    & a {
        text-decoration: none;
    }

    &__filtrovani {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: v.$spacer-middle auto 0 auto;
        @media screen and (min-width:v.$minwidth-tablet) {
            display: none;
        }
    }
}

button:focus-visible {
    outline: 6px dotted var(--focusColor);
}   

.button + .button {
    margin-left: v.$spacer-middle;
}

