@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.calendar {
    max-width: 350px;
    background-color: transparent;
}
.calendar__days {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(7,50px);
    grid-template-rows: repeat(auto,50px);
    justify-content: center;
    justify-items: stretch;
    align-items: stretch;
    align-content: center;
    text-align: center;
    grid-row: 0;
    background-color: white;
    
}

.calendar__day {
    padding: 5px;
    margin: 2px;
    display: inline-block;
    background-color: white;
    border: none;
    font-size: v.$spacer-middle;
    color: var(--textColor);
}

.calendar__day--weekend {
    color: grey;
}

.calendar__day--noMonth {
    color: lightgrey;
}

.calendar__day--today {
    background-color: var(--tertiaryColor);
    color: var(--lightColor);
    border-radius: 50%;
}

.calendar__day--selected {
    background-color: var(--primaryColor);
    color: var(--greyColor);
    border-radius: 50%;
}

.calendar__day:hover {
    background-color: var(--secondaryColor);
    color: black;
    border-radius: 50%;
}

.calendar__yearMonth {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.calendar__month {
    gap: 20px;
    height: 70px;
    display: flex;
}

.calendar__mesic {
    padding: 5px;
    display: inline-block;
    background-color: white;
    border: none;
    font-size: 24px;
    cursor: pointer;

}

.calendar__mesic img {
    width: 100%;
    height: 50%;
}

#calendar__mesic--nyni {
    width: 7rem;
    color: var(--textColor);
}

.calendar__year {
    text-align: center;
    display: inline-block;
    margin: 10px;
    border-radius: 50%;
    font-size: 40px;
    color: var(--textColor);
}