@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

input[type='checkbox'] {
    opacity: 0;
    z-index: -1; 
    position: absolute; 
    left: -100px;
}

.filterContent {
    @media screen and (min-width:v.$minwidth-tablet) {
        max-width: v.$maxwidth;
        display: grid;
        margin: 0 auto;
        grid-template-columns: 360px auto;
    }
}

.filters {
    padding: 0 1rem;
    &__group {
        margin-top: 1rem;
    }

    &__category-name {
        text-align: justify;
    }

    &__checkboxItem + .filters__checkboxItem {
        padding-top: v.$spacer-small;
    }

    &__hide {
        height: 0px;
        width: 0px;
        visibility: hidden;
    }

    &__checkboxItem {
        margin-left: 1rem;
        padding-right: 1.5rem;
        color: var(--greyColor);
        font-style: italic;
        font-size: 1.5rem;

        &:hover {
            border: 2px solid var(--secondaryColor);
            @include m.cornerRound;
        }

        &:before {
            content: '';
            display: inline-block;
            background-image: none;
            background-position: cover;
            background-repeat: no-repeat;
            width: 0.9em;
            height: 0.9em;
            margin-right: 0.5em;
            margin-left: 0.5em;
        }
        &--active:before {
            // content: '';
            // display: inline-block;
            background-image: url(/images/general/GreenTick.svg);
            // background-position: cover;
            // background-repeat: no-repeat;
            // width: 0.9em;
            // height: 0.9em;
            // margin-right: 0.5em;
        }

        &--active {
            color: black;
            font-weight: 600;
        }
    }
}