@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

input[type='checkbox'] {
    opacity: 0;
    z-index: -1; 
    position: absolute; 
    left: -100px;
}

.filterContent {
    @media screen and (min-width:v.$minwidth-tablet) {
        max-width: v.$maxwidth;
        display: grid;
        margin: 0 auto;
        grid-template-columns: 360px 3fr;
        grid-template-areas: 'filters akce';
    }

    @media screen and (min-width:v.$minwidth-computer) {
        grid-template-columns: 360px 1fr 5fr;
        grid-template-areas: 'filters . akce';
    }
}

.filters {
    padding: 0 1rem;
    grid-area: filters;
    &__group {
        margin-top: 1rem;
    }

    &__category-name {
        &::after {
            content: '';
            width: 50%;
            height: 100%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding-bottom: 1px;
            background: radial-gradient(circle, rgba(v.$primaryColor,1) 0%, rgba(255,255,255,1) 100%);
            margin-top: v.$spacer-small;
        }
        text-align: center;
        width: 100%;
        padding-top: v.$spacer-big;
    }

    &__checkboxItem + .filters__checkboxItem {
        padding-top: v.$spacer-small;
    }

    &__hide {
        height: 0px;
        width: 0px;
        visibility: hidden;
    }

    &__checkboxItem {
        margin-left: 1rem;
        padding-right: 1.5rem;
        color: var(--greyDarkColor);
        font-style: italic;
        font-size: 1.5rem;

        &:hover {
            border: 2px solid var(--secondaryColor);
            @include m.cornerRound;
        }

        &:before {
            content: '';
            display: inline-block;
            background-image: none;
            background-position: cover;
            background-repeat: no-repeat;
            width: 0.9em;
            height: 0.9em;
            margin-right: 0.5em;
            margin-left: 0.5em;
        }
        &--active:before {
            background-image: url(/images/general/GreenTick.svg);
        }

        &--active {
            color: var(--textColor);
            font-weight: 600;
        }
    }
}