@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.kontakt {
    @include m.zarovnani;
    &__card {
        margin-top: v.$spacer-big;
        font-size: 1.5rem;
    }

    &__nadpis {
        padding-bottom: v.$spacer-normal;
    }
    padding-bottom: v.$spacer-normal;
}

