@use '../abstracts/variables' as v;

.zmenaProgramu {
    
    padding: 0 v.$spacer-small;
    margin: 0 auto;
    text-align: center;
    font-size: 0.8rem;
    background-color: var(--greyColor);
    font-weight: 600;
    color: var(--textColor);
    padding: v.$spacer-normal;
}