:root {
    --primaryColor:#2EC4B6;
    --primaryColor-similar:#CBF3F0;
    --secondaryColor:#FF9F1C;
    --tertiaryColor:#254232;
    --buttonColor:#FFBF69;
    --textColor:black;
    --lightColor:white;
    // --focusColor:#B309A6;
    --greyColor: #d1d1d1;
    --greyDarkColor: #606060;
    --backgroundColor:white;

}

@media (prefers-color-scheme: dark){
    :root {
        --primaryColor:#2e9e92;
        --primaryColor-similar:#a7d4d1;
        --secondaryColor:#d28b28;
        --tertiaryColor:#14281D;
        --buttonColor:#e6ae66;
        --textColor:rgb(134, 168, 144);
        --lightColor:rgb(233, 233, 233);
        // --focusColor:#B309A6;
        --greyColor: #bababa;
        --greyDarkColor: #eeeeee;
        --backgroundColor:white;
        --darkBrightness:0.8;
    }
}

$spacer-normal:1rem;
$spacer-small:0.5rem;
$spacer-middle:1.5rem;
$spacer-big:2rem;
$radius:10px;

$minwidth-tablet:42rem;
$minwidth-tablet-akce:25rem;
$minwidth-computer:63rem;
$minwidth-singleAkce:50rem;
$maxwidth:70rem;

$minwidth-tablet-akce:30rem;

// @mixin cardStyle {
//     border-top-right-radius: 50px;
//     border-bottom-left-radius: 50px;
//     background-color: pink;
// }




