<!DOCTYPE html>
<html lang="cs">
<head>
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-T2W3GXDL15"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-T2W3GXDL15');
</script>


<script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="1a53d188-8eab-486f-a44d-722b5ea060da" data-blockingmode="auto" type="text/javascript"></script>

<link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
<link rel="manifest" href="/icons/site.webmanifest">
<link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#ffc40d">
<meta name="theme-color" content="#ffffff">

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="all,index">
  <meta name="googlebot" content="index,follow,snippet,archive">
  <meta name="description" lang="cs" content="{{ metaDescription }}">
  <meta name="keywords" lang="cs" content="{{ keywords }}">
  <meta name="color-scheme" content="light dark">

  <meta property="og:title" content="Rozhýbeme Dvůr">
	<meta property="og:description" content="Na našich stránkách naleznete informace o akcích, kroužcích, výletech, táborech v okolí Dvora Králové nad Labem.">
	<meta property="og:type" content="website">
	<meta property="og:image" content="https://www.rozhybemedvur.cz/images/webovky-FB.png">
	<meta property="og:url" content="https://www.rozhybemedvur.cz/">
	<meta property="og:locale" content="cs_CZ">

  <link rel="stylesheet" href="/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap" rel="stylesheet">

  <title>{{ title }}</title>

  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body>
        {{ content | safe }}
        {% include 'partials/footer.njk' %}
        <!-- <script id="CookieDeclaration" src="https://consent.cookiebot.com/1a53d188-8eab-486f-a44d-722b5ea060da/cd.js" type="text/javascript" async></script> -->
        {% include 'partials/javascripts.njk' %}
</body>
</html>